*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
a{
    color:white;
    text-decoration: none;
}
ul,li,dl,ol{
    list-style: none;
}
#app{
    width: 100%;
    height: 100%;
    overflow: auto;

}
.fixed{
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    margin:0 auto;
    background-color:lightseagreen;
    z-index: 100;



}
.fixed ul{
    width: 96%;
    margin: 0 auto;
}
.fixed li{
    display: inline-block;
    width: 20%;
    height: 60px;
    border: 2px solid yellow;
    border-radius: 10px;
    color:white
}
.fixed li .back{
    display: block;
    height: 40px;
    overflow: hidden;
}
.fixed li .back1{
    background: url("./image/bg_03.png") no-repeat center ;
}
.fixed li .back2{
    background: url("./image/cd_03.png") no-repeat center ;

}
.fixed li .back3{
    background: url("./image/dg_03.png") no-repeat center ;

}
.fixed li .back4{
    background: url("./image/mb_03.png") no-repeat center ;

}
.fixed li{
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    margin-top: -8px ;
    color:white
}
.goback{
   position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color:black;
    width: 100px;
    text-align: center;

}
.title{
    text-align: center;
    height:40px;
    color:white;
    line-height: 40px;
    font-size: 26px;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #00ffff;
    z-index: 999;
}
.baking{
    margin-top: 40px;
    margin-bottom: 70px;
}
.studyDetail,.storeDetail,.myDetail,.bakingDetail{
    height: 1000px;
    font-size: 40px;
    line-height: 400px;
    text-align: center;

}
.studyDetail{
    background-color: red;
}
.storeDetail{

    background-color: blue;

}
.myDetail{

    background-color: green;

}
.bakingDetail{

    background-color: yellow;

}
.head{
    position: fixed;
    top: 0;
    height: 40px;
    background: lightseagreen;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    width: 100%;
    z-index: 999;
}
.btn{
    display: block;
    margin:20px auto 0;
    height:40px;
    width: 200px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color:white;
    background: lightgreen;
    border: none;
    border-radius: 5px;
}
.logo{
    width:120px;
    height:120px;
    display: block;
    margin: 0 auto;
    background: url("./image/logo.jpg") no-repeat center;
    background-position: -259px -89px;
    border-radius: 30px;
}

.seach_first{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: red;
    z-index: 100;

}
.seach_first input{
    width: 90%;
    height: 80%;
    margin: -1% 5%;
    font-size: 16px;

}

.swiper-container {
    margin-top: 40px;
    width: 100%;
    height: 150px;
}
.swiper-container2{
    height: 120px;
}
.text_box{
    display: inline-block;
}

.recommend,.like{

    width: 100%;
    border-bottom: 2px solid lightgray;

}
.like{
    border-bottom: 14px solid lightgray;
}
.recommend{
    height:78px;
}
.recommend ul li,.like ul li{
    height:78px;
    display: inline-block;
    width: 50%;
    border-right: 1px solid black;
}
.recommend ul li:nth-child(1),.like ul li:nth-child(1){
    margin-left: -1%;
}
.recommend ul li:nth-child(2),.like ul li:nth-child(2){
    border: none;
}

.recommend ul li p{
    margin-left: 20px;
}
.recommend_text{
    margin-top: 10px;
    color:#181818;
    font-size: 14px;
    font-weight: 600;

}
.recommend_tex2{
    color:#686868;
    font-size: 11px;
}
.recomended_img{
    float: right;
}
.recomended_img img{
    width: 67px;
    height: 76px;
    margin-right: 10px;
}

.like ul li{
    height: 224px;
    border-right: 2px solid lightgray;
}
.like ul li .like_img{
    height:158px
}
.like_img img{
    display: block;
    width: 100%;
    height: 100%;
}
.like_text{
    color:#232326;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 13px;
    height:33px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    word-break:break-word;
    margin-bottom: 3px;
    line-height: 17px;
}
.like_tex2{
    color:red;
    font-size: 18px;
    margin-left: 10px;
}
.like_tex2 .same{
    font-size: 12px;
    float: right;
    margin-right: 10px;
    color:#686868;
    border-radius: 4px;
    height: 20px;
    width: 55px;
    border:1px solid #bfbfbf;
    line-height: 20px;
    text-align: center;


}

.tab_box{
    width: 100%;
}
.tab_box .tab_list_box{
    width: 100%;
}
.tab_box .tab_list_box .tab{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    height:60px;
    line-height: 60px;
    color:#555;

    border-bottom: 1px solid lightgray;
    list-style: none;
}
.tab_box .tab_list_box .tab a{
    color:black;
    display: block;
    width: 100%;
    height: 100%;
}
.tab_box .tab_list_box .tab span.go{
    float: right;
    background: url("./image/go.png") no-repeat center;
    height: 40px;
    width: 40px;
    margin-top: 10px;
}
.myInfo{
    position: relative;
    width: 100%;
    height:150px;
    background: url("./image/my.png") no-repeat center 100%;
    background-size: cover;
}
.myInfo p{
    height:40px;
    position: absolute;
    top: 50%;
    width: 200px;
    margin-top: -20px;
    left:50%;
    margin-left: -100px;
    text-align: center;
    font-size: 18px;
}
.myFooter{
    background:#f3f4f5;
    padding: 20px 15px;
    margin-bottom: 100px;
    margin-top: 20px;
    font-size: 14px;

    line-height: 18px;
}
.detail{
    width: 100%;
    height:100%
}
.detail_img_box{
    width: 100%;
    height: 300px;
    border: 1px solid lightgray;
    border-right: none;
    border-left: none;
}
.detail img{
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.detail_nav{
    display: flex;
    flex-direction: row;
    height:40px;
    font-size: 18px;
    line-height: 40px;
}
.detail_nav li{
    flex: 1 1 auto;
    text-align: center;

}
.action_detail{
    border-bottom: 1px solid yellow;
    color:red;
}


.detail_list li{
    display: none;
    border-bottom: none;
}
li.action_detail{
    display: block;
}